html {
    background-color: white
}

a {
    color: #000052
}

/* SNS Share Buttons */
.social-links {
    margin-bottom: 40px;
    margin:0 auto;
} 
.social-links__icon {
    display: inline;
    margin-right: 20px;
}

/* Navigation Bar */
.navbar {
    text-decoration: none;
    position: fixed;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    background: white;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar__title{
    float:left;
    margin-left: 20px;
    font-weight: bold; 
}

.navbar__ul {
    float: right;
    margin-right: 20px;
    color: black;
}

.navbar__li {
    display: inline-block;
    margin-right: 20px;
    /* line-height: 60px; */
    margin: 0 5px;
}

.navbar__li.a{
    color: black;
    padding: 7px 13px;
    padding-bottom: 1px;
     transition: all 0.5s ease;
}
.nabvar__li.a:hover{
    color: red;
    transition: 0.5s;           
}
